<div class="row">
  <div class="col-md-12 top-buffer">
    <app-header></app-header>
  </div>
  <div class="col-md-12 top-buffer">
    <app-content></app-content>
  </div>
  <div class="col-md-12 top-buffer">
    <app-show-advisors></app-show-advisors>
  </div>
  <div class="col-md-12 top-buffer">
    <app-show-quote></app-show-quote>
  </div>
  <div class="col-md-12 top-buffer">
      <app-search-branch></app-search-branch>
    </div>
  <div class="col-md-12 top-buffer">
    <app-footer></app-footer>
  </div>
</div>
<router-outlet></router-outlet>